* {
    margin: 0;
    margin-bottom: 5px;
}
#mainheading {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-align: center;
    background-color: rgb(214, 226, 236);
    padding-bottom: 3px;
}
#belowheading {
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color:rgb(214, 226, 236) ;
    text-align: center;
    font-size: 11.4px;
    color: grey;
    text-transform: capitalize;
}
fieldset {
    margin: 20px;
    background-color: rgb(124, 250, 21);
    text-align: center;
    border: 3px dotted rgb(135, 130, 136);
}
#age {
    width:25px;
    display: inline-block;
    margin-right: 145px;
    margin-left: 15px;
}
#school {
    margin-right: 112px;
}
#schooltext {
    margin-right: 0px;
    margin-top: 3px;
    width: 220px;
}
#Gender {
    margin-right: 140px;
    margin-bottom: 10px;
}
.genderoptions {
    margin-left: 30px;
}
#hometown{
    margin-left: 25px;
}
#area-select {
    margin-left: 15px;
}
#hometown-div {
    margin-top: 15px;
}
#information-head {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
}
#text-area {
    width: 200px;
    height: 40px;
    border: 2.39px solid rgb(139, 31, 31);
    border-radius: 10px;
}
#iglogo {
    width: 16px;
    margin-top: 2px;
    margin-left: 0px;
}
#credit-name {
    text-decoration: none;
    background-color: white;
}
#credit-div {
    display: inline-block;
    margin-left: 64.759%;
    font-size: 11px;
    font-weight: bold ;
    background-color: aliceblue;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
border-radius: 8px;
    
}


#capitalize {
    text-transform: capitalize;
    text-align: center;
    font-size: smaller;
    color: grey;
    margin-top: 0px;
}
#testheading {
    text-align: center;
    line-height: 20px;
}

#testtop {
    background-color: rgb(180, 210, 235);
    padding-top: 5px;
    padding-bottom: 5px;

}

#markings {
    display: flex;
    justify-content: space-between;
    background-color: greenyellow;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;

}

#horizontal1 {
    height:15px;
    background-color: rgb(214, 226, 236);
}
.items, .items1, .items2, .items3, .items4, .items5, .items6, .items7, .items8, .items9, .items10, .items11, .items12, .items13, .items14, .items15, .items16, .items17, .items18, .items19, .items20, .items21, .items22, .items23, .items24, .items25 {
    margin-left: 50px;    
}
.questions {
    margin-left: 10px;
    font-weight: bold;
}
#buttonsubmit {
    width: 150px;
    height: 35px;
    margin-left: 45%;
    background-color: greenyellow;
    font-weight: bolder;
    color: brown;
    font-size: large;
    border-radius: 8px;
    border-color: blue;
}
#questionbar {
    background-color: aqua;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid black;
    padding-left: 5px;
}
#mcqsubmit {
    text-decoration: none;
    color: rgb(163, 24, 24);
}
#creditside {
    text-align: right;
}
#Homebutton {
    display: flex;
    position: sticky;
    top: 2px;
    left: 5px;
    background-color: rgba(168, 200, 200, 0.771);
    font-size: 30px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    border: 2px solid rgb(132, 33, 33);
}
#alink {
    text-decoration: none;
    color: rgb(132, 33, 33);
}
